<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />

</head>
<body>
    <script type="module">
        import lng from '../../src/lightning.mjs';
        class LayoutExample extends lng.Application {
            static _template() {
                return {
                    Main: {x: 100, w: 500, y: 100, flex: {direction: 'row', padding: 20, wrap: true}, rect: true, color: 0xFFFFF000,
                        Item1: {w: 110, h: 150, flexItem: {margin: 10}, rect: true, color: 0xFFFF0000},
                        Item2: {w: 120, h: 150, flexItem: {margin: 10}, rect: true, color: 0xFFFF00FF},
                        Item3: {w: 130, h: 150, flexItem: {margin: 10}, rect: true, color: 0xFF00FFFF},
                        Item4: {w: 100, h: 50, flexItem: {margin: 10, alignSelf: 'stretch', grow: 1, maxWidth: 200, maxHeight: 100}, rect: true, color: 0xFF00FF00},
                        Sub: {flex: {direction: 'column', padding: 20}, flexItem: {margin: 10}, rect: true, color: 0x55FF00FF,
                            children: [
                                {text: {text: "line 1"}},
                                {text: {text: "line 2"}},
                                {text: {text: "line 3"}},
                                {text: {text: "line 4"}}
                            ]
                        },
                        Mounted: {mountX: 1, x: w=>(w), scale: 1, w: w=>(w * 0.1), h: 50, y: 0, rect: true, color: 0xAA000000, flexItem: false},
                    }
                }
            }

            _init() {
                this.tag("Main").animation({duration: 2, actions: [
                        {p: 'w', v: {0: 150, 0.5: 800, 1: 150}}
                    ]}).start();

                setTimeout(() => {
                    this.tag("Main").children = [];
                }, 3000);
            }
        }

        const options = {stage: {w: 900, h: 900, clearColor: 0xFF000000, canvas2d: false}};
        const app = new LayoutExample(options);
        document.body.appendChild(app.stage.getCanvas());

        setTimeout(() => {
            console.profile('start');
            setTimeout(() => {
                console.profileEnd();
            }, 6000)
        }, 2000)
    </script>
</body>
</html>
